body{
      background-color: #484F5C;
	 color: #D1D6E7;
}

#container{
			position: relative;
			right: 50%;
			margin: 0 auto;
			border: 0px solid green;
			float: right;
}

#wrapper {
		clear: left;
		float: left;
		position: relative;
		left: 50%;
		border: 0px solid red;
}

.behind{
		background-color: #FFADC0;
}

#content{
		background-color: #6D778A;
		padding: 25px;
		overflow: auto;
}

.menu,
.nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
	border: 0px solid red;
}

.menu li,
.nav li{
		float: left;
		margin-right: 5px;
}

.nav li{
		margin-right: 20px;
}

.menu li a{
		padding: 6px 10px;
		color: #FFF;
		display: block;
		background-color: #A5B2C9;
		text-decoration: none;
}

.nav li a{
		color: #FFF;
}

.menu li a:hover{
		background-color: #6D778A;
}

.nav li a:hover{
		text-decoration: none;
}

.menu li a.selected{
		background-color: #6D778A;
}

#calcForm{
		float: left;
}

.networkInfo{
			float: right;
			margin-left: 30px;
			overflow: auto;
}

.results{
		border: 0px solid red;
		overflow: auto;
		clear: both;
}

.box{
		color: #000;
		background-color: #fff;
		padding: 25px;
		float: left;
		overflow: auto;
		margin: 20px 0;
}

.box table {
			border-collapse: collapse;
}

.box th,
.box td{
			border: 1px solid #6D778A;
			padding: 5px;
}

.box th{
			background-color: #E5E5E5;
}

.subnetting-failed{
				width: 400px;
				background-color: #FFADC0;
				color: #7D2A3E;
}

.networkInfo .box{
			margin: 0;
}

h1, h2, h3{
		margin: 0;
		color: #FFF;
}

h1{
	font-size: 190%;
}

h1 a{
	color: #FFF;
	text-decoration: none;
}

h2{
	clear: both;
}


h3{
	color: #000;
}

form input{
			padding: 8px;
			font-size: 115%;
}

label{
		color: #D1D6E7;
}