body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: white;
	font-family: Tahoma, "Geneva CE", lucida, sans-serif;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash,
.errors{
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 0;
	margin-bottom: 1em;
}

.flash.success,
.flash.error,
.errors{
                background-image: url('../images/success.png');
                background-repeat: no-repeat;
                background-position: 1em 50%;
                padding-left: 3.5em;
                background-color: #dff0d8;
                border: 1px solid #CAE0C1;
                color: #468847;
}

.flash.error,
.errors{
              background-image: url('../images/error.png');
              background-color: #EACBCB;
              border: 1px solid #DCA7A7;
              color: #A8433A;
}

.error a{
		color: #A8433A;
}

.error a:hover{
			text-decoration: none;
}


a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	font-weight: normal;
}

form th {
	text-align: left;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}
