<div class="results">
	<p style="padding: 5px; background-color: #FFF; color: #FF0000;">Právě jste narazili na chybu, která se řeší :D</p>
	<img src="{$basePath}/images/bugs.jpg" alt="Chybička" style="display: block;">
</div>