{block content}

	{form networkForm}
		<table>
			<tr><th>{label ip /}</th><th>{label mask /}</th></tr>
			<tr><td>{input ip}</td><td>{input mask}</td></tr>
			<tr><td colspan="2">{input send}</td></tr>
		</table>
	{/form networkForm}

	{if $network}
		{control networkInfo}
	{/if}

{/block}